@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}
  
main {
  margin-top: -41%;

}
  
body {
  font-family:  "Nunito", sans-serif;
  scroll-behavior: smooth;
}


.article {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
    
/* img {
  width: 100%;
  height: auto;
} */
    
  
header a {
  text-decoration: none;
  color: inherit;
}
  
.logo {
  font-weight: bold;
  font-size: 25px;
}
  
.login {
  font-weight: 400;
  font-size: large;
}
  
header nav {
  display: flex;
  gap:20px;
}

input {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 7px 9px;
}

form {
  width: 100%;
  padding: 20px;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh
}
  
.btn-reg {
  padding: 8px;
  border: 0;
  background-color: skyblue;
  border-radius: 8px;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.user {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.user.show {
  opacity: 1;
  transform: translateY(0);
}


.follow-side-bar {
  max-width: 20%;
  margin-top: 10%;
  margin-left: 3%;
  height: 500px;
}

.account-sidebar {
  position: absolute;
  right: 3%;
}


@media screen and (max-width: 1182px) {
  .post {
    margin-left: 20%;
  }
  .card {
    margin-right: 25%;
  }
}


@media screen and (max-width: 1005px) {
  .post {
    margin-left: 0;
    margin-top: 10%;
  }
  .card {
    margin-right: 0;
    min-width: 50%;
  }
}




